.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    margin-bottom: 50px;
}

.navbar-list-container {
    margin-left: auto;
}

.navbar-title {
    position: absolute;
    font-size: medium;
    margin-left: 20px;
}

.navbar-title a {
    text-decoration: none;
    color: black;
}

.navbar-list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar-list li {
    margin-left: 10px;
    margin-right: 40px;
    font-size: 11px;
}

.navbar-list li a{
    color: inherit;
    text-decoration: inherit;
}

@media (min-width: 768px){
    .navbar-title {
        position: absolute;
        font-size: large;
        margin-left: 20px;
    }

    .navbar-title a {
        text-decoration: none;
        color: black;
    }

    .navbar-list li {
        margin-left: 10px;
        margin-right: 40px;
        font-size: 14px;
    }
}