.panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 50px;
}

.panel-image {
    width: 70vw;
}

.panel-textbox {
    padding: 5%;
}

@media (min-width: 768px) {
    .panel-container {
        height: 300px;
        flex-direction: row;
        padding-top: 5%;
        padding-left: 23%;
        padding-right: 23%;
    }

    .panel-textbox {
        width: 170%;
        text-align: start;
        padding-right: 10%;
    }

    .panel-image {
        width: 70vw;
    }
}
