.project-div {
    width: 80vw;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-image img {
    width: 180px;
    border-radius: 20px;
}

.project-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

.project-title {
    font-size: large;
}

.project-description {
    font-size: medium;
}

@media (min-width: 768px){
    .project-div {
        width: 300px;
        align-items: center;
        justify-content: center;
        padding: 30px;
        margin: 20px;
        outline: none;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .project-image {
        margin: 40px;
    }

    .project-image img {
        width: 250px;
        border-radius: 20px;
    }

    .project-title {
        font-size: x-large;
        transition: 0.5s;
    }

    .project-title:hover {
        text-shadow: 1px 1px 2px rgb(0, 89, 255);
        transition: 0.5s;
    }

    .project-description {
        font-size: medium;
        width: 390px;
    }
}