.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    box-shadow: 0px -10px 30px 1px rgba(0, 0, 0, 0.2);
}

.navbar-list-container {
    margin-left: auto;
}

.navbar-list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar-list li {
    margin-left: 10px;
    margin-right: 40px;
}

.navbar-list li a{
    color: inherit;
    text-decoration: inherit;
}